@import '@/variables';

.redactor-header {
  background-color: $redactor-header-bg-color;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  border-top: 1px solid $editor-border;
  border-bottom: 1px solid $editor-border;
  border-radius: 2px;
}

.redactor-title {
  color: $redactor-title-color;
}

.redactor-language {
  color: $redactor-language-color;
}
