@import '@/variables.scss';

.wrapper {
  display: flex;
}

.container {
  padding: 0 5%;
  flex: 1 1 auto;
}

.aside {
  max-width: 375px;
  background-color: $aside-bg;
  padding: 20px;
  height: 100vh;
}
