@import '@/variables.scss';

.wrapper {
  display: flex;
}

.container {
  padding: 0 5%;
  flex: 1 1 auto;
  overflow-y: auto;
  height: 100vh;
}

@media (max-width: 850px) {
  .container {
    padding: 0 20px;
  }
}
