.table .selected {
  animation-name: selected;
  animation-duration: 1s;
  animation-timing-function: linear;
}

@keyframes selected {
  0% {
    transform: translateY(-30%) translateX(-45%);
  }

  100% {
    transform: translateY(-2500px);
  }
}
