.level-status {
  display: inline-block;
  width: 12px;
  height: 20px;
  transform: rotate(40deg) translateY(-3px);
  border: solid 3px #4cbb4a;
  border-width: 0 4px 4px 0;
  border-color: white;
  opacity: 0.2;
}

.level-status.completed {
  opacity: 0.7;
  border-color: #4cbb4a;
}

.level-status.hinted {
  opacity: 0.7;
  color: #4cbb4a;
  border: none;
  transform: rotate(0) translateY(0px);
  font-size: 25px;
  font-weight: 1000;
}
