@import '@/variables';

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.controls-level {
  color: $aside-secondary-color;
  font-weight: 600;
  font-size: 25px;
}

.level-navigation {
  margin-right: 30px;
}

.controls .level-button {
  position: relative;
  left: 0;
  top: 2px;
  height: 18px;
  width: 18px;
  border: solid 2px $grey;
  border-width: 2px 2px 0 0;
  margin-top: 6px;
  transition: all 0.2s ease 0s;
  padding: 5px;
}

.controls .level-status {
  margin-left: 10px;
}

.controls-previous {
  transform: rotate(-135deg);
  right: 2px;
  margin-right: 10px;
}

.controls-next {
  transform: rotate(45deg);
  left: 2px;
  margin-right: 20px;
}

.level-button:hover {
  border-color: $aside-secondary-color;
}
