@import '@/variables.scss';

.display {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.goal {
  color: $aside-secondary-color;
  font-size: 45px;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
  padding: 0 40px;
}

.hint.button {
  background-color: $brown;
  color: $aside-secondary-color;
  padding: 8px 15px 10px 15px;
  border-radius: 20px;
  margin: 0 auto 40px auto;
  opacity: 0.8;
  position: relative;
  z-index: 1500;
}

.hint.button:hover {
  text-decoration: underline;
  opacity: 1;
}

@media (max-width: 850px) {
  .goal {
    font-size: 35px;
  }

  .hint.button {
    margin-bottom: 30px;
  }
}
