@import '@/variables.scss';

.redactor-editor {
  position: relative;
}

.redactor-editor-textarea {
  position: relative;
  color: transparent;
  caret-color: black;
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  z-index: 20;
  resize: none;
  height: 25px;
}

.redactor-editor-textarea.empty {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.redactor-editor-view {
  position: absolute;
  left: 2px;
  top: 2px;
  z-index: 1;
  width: 100%;
}

.comment {
  color: $comment-color;
  margin-top: -8px;
}

code.hljs {
  background-color: transparent;
}

.hljs-selector-pseudo {
  color: rgb(56, 121, 56);
}

@keyframes blink {
  0% {
    background-color: initial;
  }
  50% {
    background-color: rgb(186, 227, 255);
  }
  100% {
    background-color: initial;
  }
}
