@import '@/variables.scss';

.redactor {
  display: flex;
  font-family: $redactor-font;
  padding: 10px;
  background-color: $brown;
  border-radius: 4px;
}

.redactor.loose {
  animation-name: loose;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 5;
}

.redactor * {
  line-height: 150%;
  font-size: 14px;
}

.redactor-body {
  padding: 10px 8px 10px 10px;
  flex: 1 1 auto;
}

@keyframes loose {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-8px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(8px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 850px) {
  .redactor {
    flex-direction: column;
  }
}
