.hljs-selector-tag {
  color: #a428a1;
}

.hljs-selector-class {
  color: #e1625e;
}

.hljs-selector-id {
  color: #2592b7;
}

.hljs-string {
  color: #108810;
}

.redactor-viewer .hljs-string {
  color: #a9e138;
}

.hljs-tag {
  color: #fa9d78;
}

.hljs-name {
  color: #cbb7cf;
}
