@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;600&display=swap');
@import '@/variables';
@import '@/hljs.scss';
@import 'normalize.scss';

* {
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  font-family: $main-font;
  overflow: hidden;
}

p {
  margin: 0;
}

h1 {
  display: inline-block;
}

h1,
h2,
h3,
h4,
ol {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}
