$redactor-font: menlo, monospace;
$main-font: 'Exo 2', 'Lato', 'Helvetica Neue', sans-serif;
$comment-color: #aaa;
$lightmode-rows: #999;
$darkmode-rows: #666;
$redactor-header-bg-color: #27241e;
$redactor-title-color: #9e9d9a;
$redactor-language-color: #686662;
$redactor-light-secondary-color: #ddd;
$editor-body-bg: #efefef;
$brown: #1e1b17;
$body-bg: #2e2a23;
$redactor-dark-bg: #201d18;
$grey: #54524e;
$aside-bg: #1b1813;
$aside-secondary-color: #727171;
$aside-primary-color: #a4a3a1;
$editor-border: rgba(255, 255, 255, 0.05);
