$redactor-font: menlo, monospace;
$comment-color: #aaa;
$lightmode-rows: #999;
$darkmode-rows: #666;
$redactor-header-bg-color: #27241e;
$redactor-title-color: #9e9d9a;
$redactor-language-color: #686662;
$redactor-light-secondary-color: #ddd;
$editor-body-bg: #efefef;
$brown: #1e1b17;
$body-bg: #2e2a23;
$redactor-dark-bg: #201d18;
