@import '@/variables.scss';

.redactor-rows {
  padding: 12px 10px 0 10px;
  width: 35px;
  text-align: right;
  list-style-type: none;
  height: 100%;
}

.viewer .redactor-rows {
  border-right: 1px solid $editor-border;
}
